h4 {
    font-weight: 500;
}

.node {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.node p {
    font-size: 14px;
}

.cli {
    width: 100%;
    background: #333;
    overflow: hidden;
    text-align: left;
    border-radius: 5px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.code {
    color: lightyellow
}

.handler {
    color: #d931b7;
}

.const {
    color: lightblue;
}

.var {
    color: #31d9ba;
}

.cli p {
    font-size: 10px;
    margin: 5px 10px;
}

.terminal {
    overflow-x: scroll;
    background: #000;
    padding: 5px 10px;
}

.terminal pre {
    whitespace: nowrap
}

.install {
    margin: 1rem;
}

.file {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 1rem;
}

.icon {
    width: 20px;
    height: auto;
}

.icon > img {
    width: 100%;
    height: auto
}

.folders i {
    font-size: 15px;
}

.terminal.browser {
    background: #fff;
    color: #000;
}

.icon-webpack {
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 601px){
    .cli {
        max-width: 550px;
    }
}
